<!-- <div>
<a  class="masthead text-white text-center "id="about">
  <h1 class="masthead-heading  mb-5">ONE PAGE WONDER</h1>
  <H2 class="masthead-heading mb-5">Will Knock Your Socks Off</H2>
  <picture>
    <source srcset="website/assets/img/bg.jpg" type="image/svg+xml">
    <img src="website/assets/img/bg.jpg" class="img-fluid img-thumbnail" alt="website/assets/img/bg.jpg">
  </picture>
</div> -->




<body style="background-image: url(website/assets/img/bg.jpg);></div>
<div class="p-5 text-center bg-image rounded-3" style="height: 400px;">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 class="alert alert-light" role="alert"">One Page Wonder</h1>
        <h3 class="mb-3 class="alert alert-light" role="alert"">Will Know Your Socks Off</h3>
      </div>
    </div>
  </div>
</div>
<!-- Puedo colocar cualquier imagen exepto la que me pide este proyecto -->


